# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 12a7906bffd03e1fb4e41bd94ab621052c78a963e7f8da775ca6199e75b80f362fd4b1c50e880bda0324485ad3cb9245854abb105d4262355b388549362b67df

test:
  secret_key_base: 22271a454ca528705cc721ea17cd550e94884479deef0836ef1863a319361b6a5dad099152fc9bb05165d5ff12a67881978add26a4e6c5eafa5001724ddef373

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
